{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
  <meta name="viewport" content="width=device-width" /> -->

  <title>Paspasha - Learn Well</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'main/style-starter.css' %}">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap" rel="stylesheet">
  <!-- Template CSS -->

</head>
<body>

<!--/top-header-content-->
<section class="w3l-top-header-content">
	<div class="hny-top-menu">
		<div class="top-hd">
			<div class="container-fluid">
				<div class="row">
					<ul class="social-top col-md-7">
						<li class="log-link mr-3"><a class="sign-in"  href="#"><span class="fa fa-user"></span> Sign In</a></li>
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-instagram"></span></a> </li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-vimeo"></span></a> </li>
						<li>
							<a href="#">
								<span class="fa fa-linkedin"></span>
							</a>
						</li>
					</ul>
					<ul class="accounts col-md-5">
						<li class="top_li"><span class="fa fa-mobile"></span><a href="tel: +917744054856">+91 7744054856
						</a>
						</li>

						<li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span><a href="saharabudheoj@gmail.com">Need help? Contact Us </a>

						</li>
						
					</ul>
				</div>
			</div>
		</div>

	</div>

</section>
<!--//top-header-content-->

<!--w3l-banner-slider-main-->
<section class="w3l-banner-slider-main w3l-inner-page-main">
	<div class="breadcrumb-infhny">
		<header class="top-headerhny">
			<!--/nav-->
			<nav class="navbar navbar-expand-lg navbar-light fill">
				<div class="container-fluid">
					<a class="navbar-brand" href="">
						<label class="lohny"><span class="fa fa-graduation-cap" aria-hidden="true"></span>Paspasha</label></a>
					<!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mx-lg-auto ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{% url 'main:homepage' %}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'main:language' %}">language Studies</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'main:culture' %}">Cultural Studies</a>
							</li>
					
					
							<li class="nav-item">
								<a class="nav-link" href="{% url 'main:contact' %}">Contact and Payment</a>
							</li>
						</ul>
					
					</div>
					<!-- <form action="#" method="post" class="d-flex searchhny-form">
						<input type="search" placeholder="Search Here..." required="required">
						<button type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
					</form> -->
				</div>
			</nav>
			<!--//nav-->
    </header>
    <!-- /breadcrumbs-->
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb-info">
          <h2 class="hny-title text-center">Learn Spanish</h2>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'main:homepage' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Learn Spanish</li>
          </ol>
        </nav>
      </div>
          <!-- //breadcrumbs-->
	</div>
	<!--//banner-slider-->
</section>

<section class="w3l-specification-6">
	<!-- /specification-6-->
	<div class="specification-content py-5">
		<div class="container py-lg-5">
			<div class="mission-grids-info row">
				<div class="mission-gd-left col-lg-7">
					<div class="grids-inn-ab">
						<div class="sub-mission one-top">
							<!-- <div class="mission-sec-gd">
								<img src="{% static 'main/images/Ojas.jpg' %}" alt="" class="img-fluid" />
							</div>
							<div class="mission-sec-gd">
								<img src="{% static 'main/images/poorva_palekar.jpg' %}" alt="" class="img-fluid" />
							</div>

						</div>
						<div class="sub-mission">
							<div class="mission-sec-gd">
								<img src="{% static 'main/images/poorva_palekar.jpg' %}" alt="" class="img-fluid" />
							</div> -->
							<div class="mission-sec-gd">
								<img src="{% static 'main/images/komal.jpg' %}" alt="" class="img-fluid" />
								<figcaption>Paspasha Tutor for Spanish : Komal Motwani <br> Speaks 6 languages fluently!
								</figcaption>
							</div>

						</div>
					</div>
				</div>
				<div class="mission-gd-right col-lg-5 pl-lg-4">

					<h3 class="hny-title">About Komal!</h3>
					<p>Komal is a young tutor, a daughter of Indian expats, born and brought up in Spain. She spent a few years in India teaching Spanish while she studied for her undergraduate degree at Symbiosis University. Through the years Komal has been teaching Spanish and English and must have taught 1000+ students over hundreds of hours!  <br>
						At Paspasha, we teach languages while we touch upon different areas of life and teach essential
						skills along with the grammar and conversation skills. This is the approach a child takes to
						learn a new language and thus is the apt way to learn for non native speakers too!</p>

						Please see <a href="#syllabus" style="color: olivedrab">Our Syllabus</a> to know how we teach!
				</div>
			</div>
		</div>
</section>

<section class="w3l-wecome-content-6">
	<!-- /content-6-section -->
	<div class="ab-content-6-mian py-5">
		<div class="container py-lg-5">
			<div class="welcome-grids row">
				<div class="col-lg-6 mb-lg-0 mb-5">
					<h6 id="syllabus">Syllabus</h6>
					<h3 class="hny-title">
						Learn to cook, garden, and debate, as you learn a new language!
						<p class="my-4">At Paspasha, our syllabus is divided into three distinct parts and is taught by native speakers of the language.
							<ol>
									
									<h4 style="right: 300px;color:olivedrab;"><a href="#skill" style="color: olivedrab">1: Skill Development:</h4></a>
									<p>
										Our tutors teach essential life skills like making tea, cooking ramen, packing their bags for a vacation, in a language the student has chosen. Native speakers of every language learn to speak well when their parents teach and show them different aspects of life. We want our students to learn a new language as if they are living the language. This ensures they retain it well, and learn it faster.
									</p>
									<h4 style="color:olivedrab;">
										<a href="#grammar" style="color: olivedrab">2: Formal Grammar training:
									</h4></a>
										<p>
											We cover formal grammar training in three different levels: beginner, medium, and advanced. Please see the syllabus below for a more detailed description.
										</p>
									<h4 style="color:olivedrab;">
										<a href="#debate" style="color: olivedrab">3: Debate and expressing oneself:
									</h4></a>
									<p>
										We help students learn the art of expressing their opinions in the language they are learning. From Global warming to Gender equality, we will help the students frame arguments, look for sources online, and argue effectively.
									</p>
									</li>
								</li>
							</ol>
						</p>
					</h3>
					
					
			</div>
		</div>
	</div>
</div>
</section>

<section class="w3l-wecome-content-6">
	<!-- /content-6-section -->
	  <div class="ab-content-6-mian py-5">
			 <div class="container py-lg-5">
					<div class="welcome-grids row">
							<div class="col-lg-6 mb-lg-0 mb-5">
								<h6 id="skill">Section One: Skill development</h6>
								<h3 class="hny-title">
									Learning life skills with the language you choose!
									</h3>
								<p class="my-4">The idea behind this section of our course is to provide an environment for students to learn a new language as they
								acquire life skills. It is this approach which helps native speakers learn a language. It is with daily communication
								with family and friends that one picks up a language. We will thus create a classroom environment which will give
								students a chance to learn how to cook simple dishes, pack their bags for a vacation, tidy their rooms, and plant saplings. </p>
								<p>
								Two days before a class, the students will get a detailed worksheet explaining what they will be learning in class. This
								worksheet will have all the important words that will be used in class and students can try and remember them.</p>
								<p>
								A class will last for 60 minutes. The tutor will slowly explain and animate every step. The students are expected to
								listen and follow. Once the entire activity is done, the tutor will revise it again and take the students through all the
								steps. Thus the students will hear the words and sentences at least two times after reading them in the worksheet before class.</p>
								
								Below listed is a framework in which these classes will operate.
								
								<br>
								<br>
								<br>
								
								<h4 style="color: brown;"> Cooking:</h4>
								 Vocabulary - 60+ unique words
								<br>
								<br>
								<div style="padding:20px;">
								<ol>
								<li>
									Boil water.
								</li> 
								<p> This simple daily activity will be shown with great detail. Our tutors will pronounce and show every action animated and
								slow. It is with this simple recipe, that we will go on to learn more complex recipes. Words learnt would range from
								‘water’, and ‘utensils’ to ‘bubbles in water’.</p>
								
								<!-- Vamos a hervir un poco de agua, viene bien para el dolor de garganta ¿no?
								Primero, tenemos que buscar un recipiente/una olla con tapa y la tenemos que llenar de agua fría de grifo.
								Vamos a llenar solo la mitad de la olla, para que haya espacio.
								Pon la olla encima del fuego y subelo a fuego alto.
								Tapa la olla con su tapa para que el agua hierva un poco más rápido.
								Cuando veas burbujas pequeñas o medianas y salga vapor de la olla, apaga el fuego. -->
								
								<li>Make tea / coffee / lemonade.</li>
								 
								<p> Once a student has learnt to boil water, they can proceed to learn how to make tea. This step would familiarise them
								with words like ‘sugar’, ‘milk’ etc.</p>
								<p>
								Similar recipes like preparing coffee, lemonade, fruit juices will follow. Students will learn words for different
								fruits, salt, ice etc.</p>
								
								<!-- A mí me encanta tomar té o chocolate caliente cuando hace frío.
								Vamos a aprender a hacer -->
								<!-- <li> -->
								<li>Cook eggs.</li> 
								<!-- </li> -->
								<p>
								For students who do eat eggs, we will teach three different ways to cook eggs. They will learn words for omelettes,
								boiled eggs, scrambled eggs, different vegetables, cheese and butter.</p>
								
								<li>
								Make ramen/maggi.
								</li>
								<p>
								This is another easy skill every future college student needs to acquire! We will prepare our students to cook really
								delicious ramen with different variations.
								</p>

								<li>
								Preparing a salad.
							</li>
								<p>
								We will teach students words for different vegetables, sauces, sprouts etc.</p>
								
								
							<li>
								More complex recipes will follow.
							</li>
							<p>	We will consult our students and then decide which recipes to go ahead with. Our tutors are from Latin America, Europe,
								and India so they are really really good at a lot of mouth watering recipes.</p>
								
								</ol>
								</div>
								
							<p>	We would help the students become super skilled waiters of the house too. Every dish they prepare would be served to a
								family member. We will teach them how to serve well, and be a polite waiter. It will equip them with formal vocabulary
								which one uses to speak with clients.</p>
								
								
								
								
								
								<h4 style="color: brown;"> Packing your bags for a vacation:</h4>
								Vocabulary : 60+ unique words.
								<br>
								<br>
								<p>
								This is an important life skill which our students would need as they graduate and go on to attend college. We will
								teach the best way to ensure your clothes fit, to make a list of all essential items, and ensure they are travel ready!
								</p>
								<div style="padding:20px;">
								<ol>
								<li>	
								Folding clothes and fitting items in a bag.
							</li>
								<p>
								This simple exercise uses a lot of words, from ‘jeans’, ‘shirts’, ‘innerwears’, ‘sweaters’, to ‘toothbrush’ and other
								‘toiletries’. As we slowly and carefully take our students through the process of packing their bags, they begin to
								remember these words for a lifetime.
								</p>
								<li>
								Preparing your important documents.
								</li>
								<p>
								International travel and in many cases domestic travel needs you to carry important documents with you. We will help the
								students create a list of important documents like passports, driving licence, baggage tags etc so they learn a lot more
								words! This is also essential vocabulary since during their travels, these words will help them greatly in times of
								emergency or distress.
								</p>
								<li>
								Browsing internet websites from a different language, and making hotel, taxi bookings.
								</li>
								<p>
								We will help the students navigate a website in a language they are learning, and help understand vocabulary about
								booking a taxi, paying foreign currency, and speaking over the phone to someone who speaks the language they are
								learning.
								</p>
								</ol>
								</div>
								
								
								<h4 style="color: brown;"> Cleaning your room:</h4>
								Vocabulary: 50+ unique words.
								<br>
								<br>
								
								<p>
								Through this module we will explore different parts of a room, vocabulary for cleaning, organising, and decorating.
								</p>
								<div style="padding:20px;">
								<ol>
								<li>
								Organise your shelf and desk.
								</li>
								<p>
								We will teach our students the vocabulary for ‘dust’, ‘wiping’, ‘clean’, ‘dirty’, ‘stacking books’ etc.
								</p>
								
								<li>
								 Making your bed.
								</li>
								<p>
								We will teach the vocabulary for bed sheets, pillows, blankets etc.
								</p>
								<li>
								 Decorating your room.
								</li>
								<p>
								We will teach our students vocabulary for different decorations they would like to have for their room. From posters,
								fairy lights to flowers we will cover it all!
								</p>
								</ol>
								</div>
								
								<h4 style="color: brown;"> Art and craft:</h4>
								Vocabulary: 50+ unique words.
								<br>
								<br>
								

								<p>
								We will cover small paper plane models, simple origami, making cartoons, stick figure drawings etc.
								<br>
								Words covered will include words for different types of paper, cardboard, glue, colours, pens etc.
								</p>

								<h4 style="color: brown;"> Gardening:</h4>
								Vocabulary: 20+ unique words.
								<br>
								<br>
								<p>
								In this part we will cover sowing two to three different seeds. We will cover activities like watering a plant, feeding it manure, removing weeds etc.
								</p>
								</p>
								<h4 style="color: brown;"> Music and other arts:</h4>
								Vocabulary: 80+ unique words.
								<br>
								<br>
								
								<p>
									Once our students have completed the above modules of our Skill Development section, we offer opportunities to learn the Guitar, the Flute, the Chello etc in the language they have chosen.
								</p>
								<p class="mb-4">Our courses have been carefully designed to ensure what you learn remains with you for a long time, and that you come out of each lecture exposed to new ideas. Check our courses and our teaching style details.</p>
								<div class="button-4-pink">
									<div class="eff-4-pink"></div>
									<a href="{% url 'main:culture' %}"> See Courses</a>
								  </div>
							</div>
							<div class="col-lg-6 welcome-image">
								<img src="{% static 'main/images/skill.jpg' %}" class="img-fluid" alt="" />
							</div>	
						
						</div>	
				 
				 </div>
			 </div>
	 </section>
   <!-- //content-6-section -->
<section class="w3l-wecome-content-6">
	<!-- /content-6-section -->
	<div class="ab-content-6-mian py-5">
		<div class="container py-lg-5">
			<div class="welcome-grids row">
				<div class="col-lg-6 mb-lg-0 mb-5">
					<h6 id="grammar">Section Two: Formal Grammar training.</h6>
					<h3 class="hny-title">
						Learn sentence construction, tenses, and other grammar rules!
					</h3>
					<p class="my-4"> In this section students will learn Grammar and other essential components of mastering a language. We have divided this section in three parts, and students can choose any one based on their knowledge level. </p>
					<p>
						The beginners part, expects no previous knowledge of the language and we will introduce everything from the very basics. 
					</p>
					<p>
						The medium level expects some familiarity with the grammar of the language. 
					</p>
					<p>
						The advanced level expects significant familiarity and comfort with the rules of grammar and conversational skills. 
					</p>
					<p>
						Below given is the syllabus for section two for students of Spanish language. For other languages this section will change slightly.
					</p>

					<h4 style="color: brown;"> 20 Hour Beginner Course:</h4>
					<br>
					<div style="padding:20px;">
					<ol>
						<li>
							Alphabet, rules, basic questions, greetings, numbers 0 to 10.

						</li>
						<li>
							Days of the week, months.

						</li>
						<li>
							 Numbers till 1 Million, articles with class objects.
						</li>
						<li>
							Personal Pronouns. Verbs: ser, tener, llamarse.
						</li>
						<li>
							Vocabulary: Nationalities and professions.
						
						</li>
						<li>
							Regular verbs (- AR, - ER, - IR) with practice.
						</li>
						<li>
							Por, para, porque. Verb: Querer.
						</li>
						<li>
							 Prepositions of place. Vocabulary: Family tree, marital status.
						</li>
						<li>
							 Possessives with practice.
						</li>
						<li>
							Adjectives to describe a person.
						</li>
						<li>
							 Verbs: Gustar, encantar, interesar
						</li>
						<li>
							Demonstratives, colours. Verb: Preferir.
						</li>
						<li>
							Tener que + infinitivo. Aficiones.
						</li>
						<li>
							Essay: Mi familia.
						</li>
						<li>
							Irregular verbos: Ir and Hacer.
						</li>
						<li>
							Irregular verbs with practice sentences.
						</li>
						<li>
							Revision of grammar.
						</li>
						<li>
							 Revision of vocabulary, conversations and essays.
						</li>
						<li>
							Speaking and listening practice.
						</li>
						<li>
							Reading practice and mock test.
						</li>
						<li>
							Presentation: choose any 2 Hispanic countries and talk about them for 20 minutes. Practice exercises of the last 2 days’
							syllabus.
						</li>
						</div>

					</ol>
					<br>
					<br>

					<h4 style="color: brown;"> 24 Hour Medium Course:</h4>
					<br>
					<p>
					<div style="padding:20px;">
					<ol style="right:20px">
						

						<li>
							 Expressing agreement/disagreement. Vocabulary: Clothes.
						</li>
						<li>
							Conversation in a shop. Cual/es. Lleva/n. Graduar.
						</li>
						<li>
							Introduction to: La Hora.
						</li>
						<li>
							Introduction to: Reflexive verbs with practice.
						</li>
						<li>
							Situar en el día, frequency.
						</li>
						<li>
							Essay: Mi rutina diaria.
						</li>
						<li>
							Vocabulary: Food and ingredients.
						</li>
						<li>
							Conversation in a restaurant. Verbs: poner & traer.
						</li>
						<li>
							Recipes and measurements.
						</li>
						<li>
							Ser vs Estar, Hay with exercises.
						</li>
						<li>
							Weather and quantifiers with exercises.
						</li>
						<li>
							Describing your neighbourhood with new adjectives and places.
						</li>
						<li>
							Giving and asking for directions with exercises.
						</li>
						<li>
							More quantifiers and describing what you most/least like – exercises.
						</li>
						<li>
							Essay: Mi barrio (My neighbourhood)
						</li>
						



					</ol>
					</div>
					</p>







</div>

</div>
</div>
</section>

{% block extrahead %}
<link rel="stylesheet" href="{% static 'main/style-starter.css' %}">

<body>


	<main class="container">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">Pricing</h1>
			<p class="lead">We offer two amazing plans for individual learners and students who sign up in groups of
				more than 4. You can also donate to our initiative that helps underprivileged stuents pick up new languages and prepare for a globalised world. Please contact us by clicking on Get Started button below and we will send you the invoice over email. You can transfer directly through PayPal at paypal.me/paspasha . </p>
		</div>

		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Individual learners</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ student / hour</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>Access to all live classes.</li>
							<li>Access to all notes post class.</li>
							<li>Get added to Whatsapp/telegram groups.</li>
							<li>Monthly office hours</li>
						</ul>
						<a class="btn btn-primary btn-block" href="https://forms.gle/4o8GZyyLgu2Z4F4n9" role="button">Get Started</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Group of 4+</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">$12 <small class="text-muted">/ student / hour</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>Access to all live classes.</li>
							<li>Access to all notes post class.</li>
							<li>Get added to Whatsapp/telegram groups.</li>
							<li>Monthly office hours</li>
						</ul>
						<a class="btn btn-primary btn-block" href="https://forms.gle/4o8GZyyLgu2Z4F4n9" role="button">Get Started</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Sponsor language training for others!</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">$200+ <small class="text-muted"></small></h1>
						<ol class="list-unstyled mt-3 mb-4">
							<li>We will teach a new language to underprivileged students.</li>
							<li>+ Special monthly call with sponsored student</li>
							<li>+ Continuous and transparent access to our social activities.</li>
							
						</ol>
						<a class="btn btn-primary btn-block" href="http://www.google.com" role="button">Contact Us</a>
					</div>
				</div>
			</div>
		</div>

	</main>



</body>
</body>
{% endblock %}
<section class="w3l-specification-6">
	<!-- /specification-6-->
	<!-- <div class="specification-content py-5">
		<div class="container py-lg-5">
			<div class="mission-grids-info row">
				<div class="mission-gd-left col-lg-7">
					<div class="grids-inn-ab">
						<div class="sub-mission one-top">
							<div class="mission-sec-gd">
								<img src="{% static 'main/images/poorva_palekar.jpg' %}" alt="" class="img-fluid" />

								<div class="mission-gd-right col-lg-5 pl-lg-4"></div>
								<h3 class="hny-title">Our Mission</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor maxime delectus cum? Culpa excepturi aspernatur eligendi consectetur sunt quidem sequi possimus, ullam, neque saepe voluptatum vel rerum illo. Voluptatem.</p>
									
							</div> -->
							<!-- <div class="mission-sec-gd">
									<img src="{% static 'main/images/p2.jpg' %}" alt="" class="img-fluid" />
							</div> -->

						<!-- </div> -->
						<!-- <div class="sub-mission"> -->
								<!-- <div class="mission-sec-gd">
										<img src="main/static/images/p6.jpg' %}" alt="" class="img-fluid" />
								</div>
								<div class="mission-sec-gd">
										<img src="{% static 'main/images/p4.jpg' %}" alt="" class="img-fluid" />
								</div> -->
	
							<!-- </div> -->
					<!-- </div>
				</div> -->
				<!-- <div class="content-gd col-lg-6">
						<h3 class="hny-title">Our Mission</h3>
						<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit totam animi consequatur saepe blanditiis.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing elit..</p>
				</div> -->
			<!-- </div>
		</div>
</section> -->
<!-- //specification-6-->

<!-- <section class="w3l-content-5"> -->
	<!-- /content-6-section -->
	  <!-- <div class="content-5-main" style="background-color:grey;">
			 <div class="container">
					 <div class="content-info-in row">
							 <div class="content-gd col-lg-6">
									 <h3 class="hny-title two">
									
We work hard to prepare every student for their professional life</h3>
							 </div>
							 <div class="content-gd col-lg-6">
									
									 
									
							 </div>
							
					 </div>
				 
				 </div>
			 </div>
	 </section> -->
   <!-- //content-6-section -->

  
	<!--/team-sec-->
	<!-- <section class="w3l-team-main">
		<div class="team py-5">
			<div class="container py-lg-5">
					<div class="row title-content">
							<div class="col-lg-4 title-left">
								<h3 class="hny-title">Expert Instructors</h3>
							</div>
							<div class="col-lg-8 title-info">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eligendi minima
									accusantium
									reiciendis, cupiditate optio corrupti quis quam at!.Duis aute irure dolor in reprehenderit
									in voluptate velit esse cillum.</p>
							</div>
						</div>
					<div class="row team-row">
							<div class="col-lg-3 col-md-6 team-wrap">
									<div class="team-info text-center">
										<div class="column position-relative">
											<a href="#url"><img src="{% static 'main/images/team1.jpg' %}" alt="" class="img-fluid team-image" /></a>
										</div>
										<div class="column">
											<h3 class="name-pos"><a href="#url">Mickel Zaman</a></h3>
											<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione illo omnis hic dolorem? Ad nobis vitae quasi expedita rerum illum nemo aspernatur! Consectetur obcaecati quia autem! Eos tempora perferendis nemo!</p>
											<div class="social">
												<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
												<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
											</div>
									</div>
								</div>
							</div> -->
							<!-- end team member -->
				
							<!-- <div class="col-lg-3 col-md-6 team-wrap">
			
									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'main/images/team2.jpg' %}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Paul Croves</a></h3>
												<p>English Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>
							</div> -->
							<!-- end team member -->
				
							<!-- <div class="col-lg-3 col-md-6 team-wrap">
									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'main/images/team3.jpg' %}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Ricardo Spencer</a></h3>
												<p>Gym Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>
								
							</div> -->
							<!-- end team member -->
							<!-- end team member -->
				
							<!-- <div class="col-lg-3 col-md-6 team-wrap">
			
									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'main/images/team4.jpg' %}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Marko Dugonji</a></h3>
												<p>Law Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>
							</div> -->
							<!-- end team member -->
							<!-- <div class="col-lg-3 col-md-6 team-wrap">
									<div class="team-info text-center">
										<div class="column position-relative">
											<a href="#url"><img src="{% static 'main/images/team5.jpg' %}" alt="" class="img-fluid team-image" /></a>
										</div>
										<div class="column">
											<h3 class="name-pos"><a href="#url">Anthony</a></h3>
											<p>Physics Instructor</p>
											<div class="social">
												<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
												<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
											</div>
									</div>
								</div>
							</div> -->
							<!-- end team member -->
				
							<!-- <div class="col-lg-3 col-md-6 team-wrap">
			
									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'main/images/team6.jpg' %}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Emma Stone</a></h3>
												<p>Maths Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>
							</div> -->
							<!-- end team member -->
				
							<!-- <div class="col-lg-3 col-md-6 team-wrap">
									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'main/images/team7.jpg' %}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Rhoda Byrd</a></h3>
												<p>Finance Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>
								
							</div> -->
							<!-- end team member -->
							<!-- end team member -->
				
							<!-- <div class="col-lg-3 col-md-6 team-wrap">
			
									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'main/images/team8.jpg' %}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Max Stoiber</a></h3>
												<p>History Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>
							</div> -->
							<!-- end team member -->
				</div>
			</div>
	</section>
	<!--//team-sec-->
<!-- footer -->
<section class="w3l-footer-16">
    <div class="w3l-footer-16-main py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 column">
                    <div class="row">
                        <div class="col-md-8 column">

                                <a class="logo-2" href="">
                                        <label class="lohny-2"><span class="fa fa-graduation-cap" aria-hidden="true"></span>Pashapasha</label></a>
                           
                            <div class="ad-text-inf">
                                <p><span class="color-hny">Address :</span> We teach online, and our tutors come from all over the world!</p>
                             </div>
                             <div class="ad-text-inf">
                                    <p><span class="color-hny">Email :</span> <a href="mailto:sahasrabudheoj@gmail.com">sahasrabudheoj@gmail.com</a></p>
                                 </div>
                                 <div class="ad-text-inf">
                                        <p><span class="color-hny">Phone :</span> <a href="tel:+91 7744054856">+91 7744054856</a></p>
                                     </div>
                        </div>
						<div class="col-md-4 column">
							<h3>Pages</h3>
							<ul class="footer-gd-16">
								<li><a href="{% url 'main:homepage' %}">Home</a></li>
								<li><a href="{% url 'main:language' %}">Language Studies</a></li>
								<li><a href="{% url 'main:culture' %}">Cultural Studies</a></li>
								<!-- <li><a href="#">Blog</a></li> -->
								<li><a href="{% url 'main:contact' %}">Contact and Payment</a></li>
							</ul>
						</div>
                    </div>
                </div>
                <!--  <div class="col-lg-4 col-md-6 column column3 mt-lg-0 mt-4">
                    <h3>Articles</h3>
                    <ul class="list-unstyled d-flex flex-wrap">
                        <li class="">
                            <div class="row">
                                <a class="col-md-5 col-4" href="#">
                                    <img class="rounded img-fluid img-responsive" src="{% static 'main/images/bg1.jpg' %}"
                                        alt="image">
                                </a>
                                <div class="col pl-0">
                                    <a class="footer-small-text" href="#">Lorem ipsum dolor sit amet adipiscin elit</a>
                                    <div class="text-sub-small">Feb 20th</div>
                                </div>
                            </div>
                        </li>
                        <li class="mt-md-0 mt-2">
                            <div class="row my-2 my-md-3">
                                <a class="col-md-5 col-4" href="#">
                                    <img class="rounded img-fluid img-responsive" src="{% static 'main/images/bg3.jpg' %}"
                                        alt="image">
                                </a>
                                <div class="col pl-0">
                                    <a class="footer-small-text" href="#">Cras at nunc sagittis, suscipit dolor</a>
                                    <div class="text-sub-small">Feb 22nd</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 column column4 mt-lg-0 mt-4">
                    <h3>Newsletter </h3>
                    <div class="end-column">
                        <h4>Subscribe Here Now</h4>
                        <form action="#" class="subscribe" method="post">
                            <input type="email" name="email" placeholder="Email Address" required="">
                            <button><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                        </form>
                        <p>Subscribe to our mailing list and get updates to your email inbox.</p>
                    </div>
                </div>
            </div> -->
            <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                <div class="columns text-lg-left text-center">
                    <p>© 2020 Eduline. All rights reserved. Design by <a href="https://w3layouts.com/" target="_blank">
                            W3Layouts</a>
                    </p>
                </div>
                <div class="columns-2 mt-md-0 mt-3">
                    <ul class="social">
                        <li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
</section>
<!-- //footer -->
</body>

</html>

<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
